.navbar {
    display: flex;
    align-items: center;

    width: 100%;
    height: var(--navbar-height);
    padding: 15px;
    background-color: var(--inverted-bg-color);
}

.links {
    display: flex;
    gap: 10px;

    margin-left: auto;
}